@charset "UTF-8";
body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background-color: #0f0f0f;
  color: #fff;
  font-family: "'Sora', sans-serif";
}

label {
  font-family: "'Sora', sans-serif";
}

@font-face {
  font-family: "Good Times W00 Bold";
  src: url("./fontMain/Good Times W00 Bold.woff") format("woff"), url("./fontMain/Good Times W00 Bold.ttf") format("truetype"), url("./fontMain/Good Times W00 Bold.svg# Good Times W00 Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navigation p {
  margin: 0 5px;
  font-size: 16px !important;
  padding: 4px 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
}

.bordersign {
  position: relative;
}

.bordersign .arrowbox1 {
  top: 0%;
  left: 43px;
  width: 1px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1101px) {
  .bordersign .arrowbox1 {
    width: 0px;
  }
}

.bordersign .arrowbox2 {
  top: 0%;
  left: 160px;
  width: 1px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1101px) {
  .bordersign .arrowbox2 {
    width: 0px;
  }
}

.bordersign .arrowbox3 {
  top: 0%;
  right: 50px;
  width: 1px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1101px) {
  .bordersign .arrowbox3 {
    width: 0px;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  margin: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
}

nav a {
  font-size: 1em;
  text-decoration: none;
}

nav a .active {
  color: tomato;
}

nav a.active {
  color: #222;
}

.navigation p {
  margin: 0 5px;
  font-size: 14px;
  padding: 4px 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
}

nav ul {
  float: right;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 5px 0px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #000;
  height: 65px;
}

.sectionPadding {
  padding: 70px 0;
}

@media (max-width: 858px) {
  .navbar {
    position: relative;
    z-index: 999;
  }
  .checkbtn {
    display: block;
  }
  .navbar ul {
    position: absolute;
    width: calc(100% - 40px);
    height: auto;
    background: #000;
    display: block !important;
    margin: 0 !important;
    left: -108%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 35px 0 !important;
    -webkit-box-shadow: 0 11px 24px rgba(0, 0, 0, 0.12);
    box-shadow: 0 11px 24px rgba(0, 0, 0, 0.15);
  }
  nav ul li {
    display: block;
    margin: 10px 0 10px 5px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 10px;
    z-index: 99;
    height: 100vh !important;
    width: "100%";
  }
}

@media only screen and (max-width: 1200px) {
  nav ul {
    float: left;
    margin-right: 20px;
    padding: 0;
    width: 260px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* padding: 20px 0px; */
    background: #000;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    float: left;
    margin-right: 20px;
    padding: 0;
    width: 260px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* padding: 20px 0px; */
    background: #000;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footerleft {
  position: absolute;
  top: -14%;
  left: 0;
  z-index: -1;
  opacity: 1.55;
  width: 120px;
  height: 400px;
  background: #8100B8;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  -webkit-transform: rotate(-121.49deg);
          transform: rotate(-121.49deg);
}

.choosetokenLeft {
  position: absolute;
  top: -35%;
  left: 0;
  z-index: -1;
  opacity: 1.55;
  width: 158px;
  height: 826px;
  background: #FF2379;
  -webkit-filter: blur(900px);
          filter: blur(900px);
  -webkit-transform: rotate(-121.49deg);
          transform: rotate(-121.49deg);
}

.tokenomicsright {
  position: absolute;
  top: 6%;
  right: 0;
  z-index: -1;
  opacity: 1.55;
  width: 158px;
  height: 826px;
  background: #D201A4;
  -webkit-filter: blur(400px);
          filter: blur(400px);
}

.faqrightcss {
  position: absolute;
  top: 6%;
  right: 0;
  z-index: -1;
  opacity: 1.55;
  width: 158px;
  height: 826px;
  background: #FF8B5F;
  -webkit-filter: blur(400px);
          filter: blur(400px);
}

.roadmapslider .sliderBox {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: rgba(255, 255, 255, 0.12);
  top: 200px;
  outline: none;
}

.roadmapslider .sliderBox::before {
  -webkit-transform: translateX(-10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.roadmapslider .sliderBox::after {
  width: 0px;
  height: 182px;
  top: -190px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.timlineBox {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -226px;
  left: 75px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00e0b000;
  color: #4b4b4b;
  font-size: 14px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide:first-child {
  height: 500px;
}

.roadmapslider .sliderBox:last-child {
  width: 280px;
}

.roadmapslider .sliderBox:before {
  position: absolute;
  left: 50px;
  content: "";
  height: 196px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.roadmapslider .sliderBox:after {
  position: absolute;
  left: 35px;
  content: "";
  background: url("../../src/Roadmapimage/roadmapline.png");
  height: 196px;
  width: 122px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slick-slide:nth-child(2n) .sliderBox:after {
  top: 0;
}

.slick-slide:nth-child(2n) .sliderBox .timlineBox {
  top: 124px;
  left: -187px;
  text-align: right;
}

.slick-slide:nth-child(2n) .sliderBox:before {
  left: 50%;
}

.timlineBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.timlineBox div h4 {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #26373e;
}

.timlineBox div label {
  color: #ffffff;
  margin: 0;
  padding: 1px 15px;
  font-size: 16px;
  border-radius: 0px;
}

.paperBox {
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 15px;
  padding: 20px;
}

.circle {
  position: absolute;
  height: 21px;
  width: 21px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -209px;
  left: 22px;
  z-index: 2;
}

.circle::after {
  height: 19px;
  width: 19px;
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 50%;
}

.circle1::after {
  background-color: #FF564D;
}

.slick-slide:nth-child(2n) .sliderBox .timlineBox div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slick-slide:nth-child(2n) .sliderBox .circle {
  top: 183px;
  left: 142px;
}

.roadmappage {
  width: 100%;
  position: relative;
  padding-top: 50px;
  background-size: cover;
  background-color: #0F0F0F;
  background-repeat: no-repeat;
}

.mainBoxPaper {
  background: rgba(255, 255, 255, 0.025);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
  padding: 10px;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  border-radius: 50%;
  background: 0 0;
}

.slick-prev:before {
  content: "‹";
}

.slick-next:before {
  content: "›";
}

.slick-prev {
  left: auto !important;
  bottom: -20px !important;
  top: -40px !important;
  right: 60px !important;
  color: #fff !important;
  z-index: 999 !important;
  background-color: #0F0F0F !important;
  border: 2px solid #323232;
}

@media (max-width: 480px) {
  .slick-prev {
    bottom: -55px !important;
    top: auto !important;
  }
}

.slick-prev:hover {
  background: #081833;
  border: solid 2px transparent !important;
  background-image: linear-gradient(93.14deg, #FFB000 -20.75%, #FF564D 11.84%, #FF0098 53.76%, #5D00C1 102.96%) !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #050706 inset !important;
          box-shadow: 2px 1000px 1px #050706 inset !important;
  border-radius: 50px !important;
}

.slick-prev.slick-disabled {
  opacity: 0.5;
}

.slick-next {
  top: -40px !important;
  bottom: -20px !important;
  left: auto !important;
  right: 5px !important;
  color: #fff !important;
  background-color: #0F0F0F !important;
  border: 2px solid #323232;
  z-index: 999 !important;
}

@media (max-width: 480px) {
  .slick-next {
    bottom: -55px !important;
    top: auto !important;
  }
}

.slick-next:hover {
  background: #081833;
  border: solid 2px transparent !important;
  background-image: linear-gradient(93.34deg, #FF6F37 6.82%, #FF2676 35.9%, #B801AA 68.08%, #7101BC 101.4%) !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #050706 inset !important;
          box-shadow: 2px 1000px 1px #050706 inset !important;
  border-radius: 50px !important;
}

.slick-next.slick-disabled {
  opacity: 0.5;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
  line-height: 1;
  opacity: 1 !important;
  color: #fff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -17px !important;
}

.MuiTimelineItem-missingOppositeContent:before {
  display: contents;
}

.tableHead {
  border-radius: 10px !important;
}

.shadeBoxImg {
  position: absolute;
  right: 0;
  z-index: 1;
  width: auto;
  max-width: 100%;
  opacity: 0.5;
  top: 22%;
  max-width: 1200px;
}

@media screen and (max-width: 767px) {
  .shadeBoxImg {
    max-width: 700px;
  }
}

.year-text {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 148px;
  left: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00e0b000;
  color: #4b4b4b;
  font-size: 14px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.line {
  height: 20px;
  width: 1px;
  background: white;
  margin: 8px 5px 5px;
}

.slick-slide:nth-child(2n) .sliderBox .year-text {
  top: -140px;
  left: -186px;
}

.dropzonebox {
  border-radius: 5px;
  margin-top: 30px;
}

@media screen and (max-width: 959px) {
  .dropzonebox {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .dropzonebox {
    padding: 30px 9px 20px 9px;
  }
}

@media screen and (max-width: 414px) {
  .dropzonebox {
    padding: 20px 9px 20px 9px;
  }
}

.dropzonebox .boxImage {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 200px;
  border-radius: 100%;
  background-color: #efefef;
}

.dropzonebox .boxImage span {
  position: absolute;
  top: 40%;
  right: 34%;
  background-color: #efefef;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .dropzonebox .boxImage span {
    width: 37px;
    height: 37px;
    bottom: 17px;
  }
}

.dropzonebox .boxImage img {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropzonebox .boxImage1 {
  position: relative;
  display: inline-block;
  width: 200px;
  border-radius: 100%;
  background-color: #efefef;
}

.dropzonebox .boxImage1 span {
  position: absolute;
  top: 40%;
  right: 34%;
  background-color: #efefef;
  width: 50px;
  height: 50px;
  z-index: -1;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .dropzonebox .boxImage1 span {
    width: 37px;
    height: 37px;
    bottom: 17px;
  }
}

.dropzonebox .boxImage1 img {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  .dropzonebox .boxImage1 img {
    min-width: 200px;
    min-height: 200px;
  }
}

@media screen and (max-width: 414px) {
  .dropzonebox .boxImage1 {
    width: 200px;
    height: 200px;
  }
}

.dropzonebox button {
  width: 184px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainBoxBanner {
  position: relative;
  z-index: 2;
}

iframe {
  pointer-events: none;
}

.MuiPagination-ul {
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  width: 100%;
  background: transparent;
}

.webkitcss input[type="number"]::-webkit-inner-spin-button,
.webkitcss input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@media (max-width: 1024px) {
  .shadeBoxImg {
    display: none;
  }
}

@media (max-width: 991px) {
  .shadeBoxImg {
    display: none;
  }
}

@media (max-width: 767px) {
  .shadeBoxImg {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */